h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgoldenrod;
    background-color:  black;
    text-align: center;
    margin: 0px 10%;
    padding: 5%;
}
 
nav{
    background-color: blueviolet;
    width: 50%;
    height: 3%;
}